#head1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:rgba(185, 182, 182, 0.432);
    position: sticky;
    top: 10px;
    border-radius: 50px;
  
  
   h1 {
    margin: 0;
  }
  
   button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #356fdc;
    color: #fff;
    cursor: pointer;
  }
  
   button:hover {
    background-color: #0d0ad6;
  }
  
}
  .container-1 {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    padding:10vh 5vw ;
    width: 80%; 
    height: 70vh;
    margin: 0 auto;
  }
  
  .card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card a {
    display: block;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
  }
  
  .card a:hover {
    background-color: #00b348;
  }
  
  .card img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 50%;
  }
  
  @media screen and (min-width:768px) {

    #head1{
      margin:0 2vw;
      margin-top: 2vh;
      button{
        padding: 15px 25px;
        font-size: 15px;
        border-radius: 10px;
      }
    }
    .container-1{
      flex-direction:row;
      justify-content: space-evenly;
      padding: 10vh 5vw;
      gap: 0;
      height: auto;
      background-color:transparent;
      .card{
        color: #000000;
        background-color:rgba(185, 182, 182, 0.432);
        width: 15vw;
        margin-top: 15px;
        padding: 10vh 2vw;
        border-radius: 10px;
        h2{
          font-size: 25px;
          margin-bottom: 30px;
        }
        img{
          margin-bottom: 30px;
          width: 100px;
          height: 100px;
        }
        a {
          font-size: 20px;
          padding: 15px 5px;
          border-radius: 10px;
          margin: 0;
        }
      }
    }
  }