* {
    margin: 0;
    padding: 0;
    transition: 0.2s;
  }
  body {
    background-color: #F3F3F3;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  ul{
    list-style-type: none;
  }